body {
  font-family: "Roboto" ,sans-serif;
  margin: 0px;
  background-color: #fafafa;
  color: #333;
}
.header{
  display:  flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e88e5;
  color: white;
}
.search-box{
  padding: 8px;
  border-radius: 5px;
  border: none;
}
.main-section{
  display:flex;
  padding: 20px;
  border: none;
}
.filters{
  width: 200px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.filter-btn{
  display: block;
  width: 100%;
  margin: 5px 0;
  padding:8px;
  background-color: #e3f2fd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.filter-btn:hover{
  background-color: #90caf9;
}
.product-grid{
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.product-card{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.product-image{
  height: 150px;
  width: auto;
  object-fit: contain;
}
.product-title{
  font-size: 16px;
  margin: 10px 0;
}
.product-price{
  font-weight: bold;
  color: #1e88e5;
}
.add-btn{
  background-color:#1e88e5;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.add-btn:hover{
  background-color: #1565c0;
}
.footer{
  text-align: center;
  padding: 15px;
  background-color: #1e88e5;
  color: white;
  margin-top: 20px;
}

@media (max-width:768px){
  .main-section{
    flex-direction: column;
  }
  .product-grid{
    grid-template-columns: repeat(2,1fr);
  }
  .filters{
    width: 100%;
  }
}
@media(max-width:480px){
  .product-grid{
    grid-template-columns: 1fr;
  }
}